<% layout("/layouts/boilerplate") %>

<!-- Filters -->
<div id="filters" class="filters-container d-flex flex-nowrap overflow-auto gap-3 py-2 px-2">
    <div class="filter Trending text-center flex-shrink-0">
        <div><i class="fa-solid fa-fire"></i></div>
        <p class="small">Trending</p>
    </div>
    <div class="filter Rooms text-center flex-shrink-0">
        <div><i class="fa-solid fa-bed"></i></div>
        <p class="small">Rooms</p>
    </div>
    <div class="filter IconicCities text-center flex-shrink-0">
        <div><i class="fa-solid fa-city"></i></div>
        <p class="small">Iconic cities</p>
    </div>
    <div class="filter MountainCities text-center flex-shrink-0">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p class="small">Mountain cities</p>
    </div>
    <div class="filter Castles text-center flex-shrink-0">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p class="small">Castle</p>
    </div>
    <div class="filter Farmhouse text-center flex-shrink-0">
        <div><i class="fa-solid fa-tree"></i></div>
        <p class="small">Farmhouse</p>
    </div>
    <div class="filter Aractic text-center flex-shrink-0">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p class="small">Aractic</p>
    </div>
    <div class="filter other text-center flex-shrink-0">
        <div><i class="fa-brands fa-ethereum"></i></div>
        <p class="small">Other</p>
    </div>
    <div class="tax-toggle flex-shrink-0">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label small" for="switchCheckDefault">After Taxes</label>
        </div>
    </div>
</div>

<!-- Listings -->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4"  id="listingContainer">
    <% for(let list of listings){ %>
        <div class="card h-100 list-card col">
          <a href="/listings/<%= list.id %>" class="list-link text-decoration-none text-dark">
            <img src="<%= list.image.url %>" alt="" class="card-img-top">
            <div class="card-body">
              <h6 class="fw-bold mb-1"><%= list.title %></h6>
              <p class="mb-1 price">₹<%= list.price.toLocaleString("en-IN") %> /night</p>
              <p class="category" style="display:none;"><%= list.category %></p>
            </div>
          </a>
        </div>
    <% } %>
  </div>


<div id="noResults" style="display:none; text-align:center; margin-top:20px;">
    <h3>Not Found Anything related to that</h3>
</div>

<script src="/js/tax.js"></script>
<script src="/js/filter.js"></script>

